
body{
    background: url('/Users/rudy/Documents/projects/1/img/bg.jpg') no-repeat center;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

.hidden {
	display: none;
}

.container {
	max-width: 960px;
}

.grid {
	margin: 0 auto;
	font-size: 0;
}

.column {
	display: inline-block;
	font-size: 1rem;
	vertical-align: top;
}

.column-1-2 {
	width: calc(50% - 40px);
  	margin: 0 20px;
}

.column-1-2 .column-align-middle {
	vertical-align: middle;
	margin: 0;
}

h2 {
	font-size: 2rem;
	text-align: center;
}
.header-logo {
	max-width: 429px;
	width: 100%;
}

.footer-logo {
	max-width: 358px;
	width: 100%;
}

.logo-top {
	padding-top: 55px;
	text-align: center;
}

.logo-bottom {
	padding: 50px 0 50px 0;
}

.logo-top img, .logo-bottom img {
	opacity: 0.4;
}

.logo-top img:hover, .logo-bottom img:hover {
	opacity: 1;
}

form {
	background-color: #ffffff;
	border-radius: 5px;
	padding: 20px;

}

.field-column {
	padding: 30px 20px;
}

.form-conteiner {
	max-width: 380px;
	margin: 0 auto;
	padding-bottom: 15px;
}

.shadow-form {
    position: relative;
}

.shadow-form:before {
	content: "";
	position: absolute;
	top: -20px;
	left: -20px;
	right:  -20px;
  	bottom: -20px;
  	border-radius: 5px;
  	background: rgba(0, 0, 0, 0.4);
  	z-index: -1;
}

select {
	background: transparent;
	color: #c6c6c6;
	-webkit-appearance: none;
}

.change-checkbox {
  display: none;
}

.change-checkbox + .clicked-checkbox {
  position: relative;
  cursor: pointer;
}

.change-checkbox + .clicked-checkbox:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 4px;
  top: 8px;
  left: 6px;
  transition: all .5s ease;
}

.change-checkbox:checked + .clicked-checkbox:after{
  background-color: #93d02b;
}

.change-checkbox + .clicked-checkbox:before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  width: 22px;
  height: 22px;
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  top: 0;
  left: 0;
}

label {
	color: #c6c6c6;
}

.fa {
	color: #c6c6c6;
}

.fa-mobile-phone:before, .fa-mobile:before {
	padding: 0 3px 0 3px;
}

.fa-caret-down:before {
	padding-right: 10px;
}

.text-area {
	height: 220px;
	width: 100%;
	padding: 15px;
	border: none;
	border-radius: 5px;
	outline: none;
	resize: none;
}

.form-checkbox {
	min-height: 40px;
	width: 100%;
}

.checkbox-text {
	color: #c6c6c6;
}

.checkbox-terms-spaces {
	color: #c6c6c6;
}

.button-form {
	width: 100%;
	font-size: 1.25rem;
	border: 1px solid #3a9a00;
	border-radius:5px;
	padding: 10px;
	text-align: center;
	color: #ffffff;
	background: #93d02b;
	text-shadow: 1px 1px 1px #51850e;
	cursor: pointer;
}

.small-submit {
	width: 100%;
	max-width: 140px;
}

.small-button {
	margin-left: 79px;
}

.done {
	opacity: 0.5;
}

.field-group {
	display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
}

.field-label {
	padding: 4px 20px;
    border-right: 1px solid #c6c6c6;
}

.field-input {
	width: 100%;
    padding: 11px 0 11px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

footer {
	max-width: 385px;
    margin: 0 auto;
    text-align: center;
}



@media only screen and (max-width:320px){

	h2 {
		font-size: 1.75rem;
	}

	.column-1-2 {
		width: calc(100% - 40px);
    	margin: 0 20px;
	}

	.form-conteiner {
		max-width: 270px;
	}

	.column-align-middle {
		width: 50%;
		margin: 0;
	}

	select {
		margin: 0;
	}

	.logo-top, .logo-bottom {
		margin: 0 10px;
	}

	.button-form {
		font-size: 1rem;
	}

	.small-button {
		margin-left: auto;
	}

}


@media only screen and (min-width:321px) and (max-width:480px){

	h2 {
		font-size: 1.75rem;
	}
	
	.column-1-2 {
		width: calc(100% - 40px);
    	margin: 0 20px;
	}

	.form-conteiner {
		max-width: 320px;
	}

	.column-align-middle {
		width: 50%;
		margin: 0;
	}

	select {
		margin: 0;
	}

	.logo-top, .logo-bottom {
		margin: 0 10px;
	}

	.button-form {
		font-size: 1rem;
	}

	.small-button {
		margin-left: auto;
	}

}

@media only screen and (min-width:481px) and (max-width:768px){
	
	.column-1-2 {
		width: calc(100% - 40px);
    	margin: 0 20px;
	}

	.form-conteiner {
		max-width: 480px;
	}

	.column-align-middle {
		width: 50%;
		margin: 0;
	}

	select {
		margin: 0;
	}

	.logo-top, .logo-bottom {
		margin: 0 10px;
	}

	.small-button {
		margin-left: auto;
	}

}


















